<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-heartlandbluetooth" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>HeartlandBluetooth</name>
    <js-module name="HeartlandBluetooth" src="www/HeartlandBluetooth.js">
        <clobbers target="HeartlandBluetooth" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="HeartlandBluetooth">
                <param name="android-package" value="cordova.plugin.heartlandbluetooth.HeartlandBluetooth" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/HeartlandBluetooth.java" target-dir="src/cordova/plugin/heartlandbluetooth/HeartlandBluetooth" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="HeartlandBluetooth">
                <param name="ios-package" value="HeartlandBluetooth" />
            </feature>
        </config-file>
        <source-file src="src/ios/HeartlandBluetooth.m" />
    </platform>
</plugin>